.kitchen-first-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: small;
    margin: 0px 10px;

}

.kitchen-first-div b {
    color: rgb(189, 98, 8);
    font-size: larger;
}

.kitchen-first-div button {
    border: none;
}

.kitchen-first-div select {
    border-radius: 15px;
    background-color: rgb(253, 247, 247);
    padding: 5px 5px;
    font-size: 12px;
}